[
{
"name": "Menu",
"isTitle": true
},
{
"name": "HOME",
"url": "dashboard.jsp",
"icon": "grid-fill"
},
{
"name": "CUSTOMER",
"key": "customer",
"icon": "stack",
"submenu": [
{
"name": "회원 관리",
"url": "customer.jsp"
},
{
"name": "기타",
"url": "customer.jsp"
}
]
},
{
"name": "RESERVATION",
"key": "reservation",
"icon": "collection-fill",
"submenu": [
{
"name": "예약 관리",
"url": "reservation.jsp"
},
{
"name": "기타",
"url": "reservation.jsp"
}
]
},
{
"name": "SERVICE",
"key": "service",
"icon": "grid-1x2-fill",
"submenu": [
{
"name": "서비스 관리",
"url": "service.jsp"
},
{
"name": "기타",
"url": "service.jsp"
}
]
},
{
"name": "PRODUCT",
"key": "product",
"icon": "hexagon-fill",
"submenu": [
{
"name": "상품 관리",
"url": "product.jsp"
},
{
"name": "기타",
"url": "product.jsp"
}
]
},
{
"name": "MEMBER",
"key": "staff",
"icon": "person-fill-gear",
"submenu": [
{
"name": "직원 관리",
"url": "member.jsp"
},
{
"name": "기타",
"url": "member.jsp"
}
]
},
{
"name": "NOTICE",
"key": "notice",
"icon": "megaphone-fill",
"submenu": [
{
"name": "공지 사항",
"url": "notice_list.jsp"
},
{
"name": "기타",
"url": "notice_list.jsp"
}
]
}
]